/* src/app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #FDF0E8;
    --foreground: #4E3B3B;
  }

  body {
    color: var(--foreground);
    background: var(--background);
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-playfair);
  }
}